# Variables for Docker Compose
.env
# Environment variables for containers
.env.*

# Homedir of SSH server user account
server/config/
# Dummy private keys for testing
server/testing_keys/

# Music folder
music/
